# Python cache
__pycache__/
*.pyc
*.pyo

# Data — not needed in container
data/

# MLflow
mlruns/
mlflow.db

# Git and DVC
.git/
.dvc/
.gitignore
.dvcignore

# Misc
.DS_Store
.env
venv/
artifacts/
src/

HR-Employee-Attrition.csv.dvc
README.md